.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* стили для шапки */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place_header {
  height: 32px;
  width: 228px;
}

.logo_position_absolute {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.title_position_static {
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.subtitle_position_absolute {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: "\2192";
}

/* TODO не работают размеры, только в html */
.header__main-illustration {
  height: 608px;
  width: 765px;
}

.main-illustration_position_absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.square-pic_position_absolute {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

.content {
}

/* стили для секций */
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* стили для секции две-колонки */
.two-columns {
  width: 80%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 300;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* стили для секции цифры*/
.digits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.digits__section-title {
  width: 60%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.section-title_font_l {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

.section-title_theme_bright {
  color: black;
}

.digits__section-subtitle {
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.section-subtitle_font_m {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
}

.section-subtitle_theme_bright {
  color: black;
}

.digits__table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.table__heading_font_m {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15x;
}

.table__heading_theme_bright {
  color: black;
}

.table__text {
  padding: 0;
  margin: 0;
}

.table__text_font_s {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}

.table__text_theme_bright {
  color: black;
}

.table__text:not(:last-of-type) {
  margin-bottom: 20px;
}

/* стили для секции фейнман */
.feynman {
  height: 890px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-size: 876px 637px;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}

.feynman__title {
  width: 648px;
  padding: 0;
  margin: 0;
  padding-top: 100px;
  margin-bottom: 70px;
  text-align: center;
}

.feynman_font_l {
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
}

.feynman__subtitle {
  padding: 0;
  margin: 0;
}

.feynman_font_m {
  font-size: 36px;
  font-weight: 300;
  line-height: 51px;
}

.feynman__link {
  padding: 0;
  margin: 0;
  margin-right: 40px;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 50%;
  align-items: center;
}

.feynman_font_link {
  color: #2f80ed;
}

.feynman__link::after {
  content: "\2192";
}
